<div id="app">
  <h1>Flights</h1>
</div>

<!-- Below is the template for our app.AppView -->
<script type="underscore/template" id="appViewTemplate">
  <h1>Our Flights App</h1>

  <div id="flightForm">This should show flights</div>
  <table id="flights">
    <tr>
      <th>Date</th>
      <th>FlightRef</th>
      <th>From</th>
      <th>To</th>
      <th>Plane</th>
    </tr>

  </table>
</script>



<!-- Below is the template for our app.FlightSearchView -->

<script type="underscore/template" id="flightSearchViewTemplate">
  <textarea placeholder="Search for your flight"></textarea>
  <button>Submit</button>
</script>

<p></p>
<br>
<br>
<div class="app2">

</div>

<script type="underscore/template" id="seatPlanViewTemplate">
  <h1>Seating plan</h1>
  <div id="seatPlanViewForm">This should show seat</div>


</script>
