<div id="app">
  <h1>Flights</h1>
</div>

<!-- Below is the template for our app.FlightSearchView -->

<script type="underscore/template" id="flightSearchView">
  <textarea placeholder="Search for your flight"></textarea>
  <button>Submit</button>
</script>


<!-- Below is the template for our app.AppView -->
<script type="underscore/template" id="appViewTemplate">
  <h1>Our Flights App</h1>

  <div id="flightForm"></div>

  <ul id="flights"></ul>

</script>
