// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.app2 {
  position:relative;
  margin:0 auto 2em auto;
  // width:180px;
  height:320px;
}

.app2 div {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: solid black 1px;
  color: white;
  overflow: hidden;
  font-size: 60px;
  text-align: center;
  box-sizing: border-box;
  z-index: 100
}

.Reserved {
  background-color: black;
}
