
// .seat {
//   display: inline-block;
//   height: 30px;
//   width: 30px;
//   border: 2px solid black;
// }

.board {
  position:relative;
  margin:0 auto 2em auto;
  // width:180px;
  height:320px;
}
.board div {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: solid black 1px;
  color: white;
  overflow: hidden;
  font-size: 60px;
  text-align: center;
  box-sizing: border-box;
  z-index: 100
}


#fuselage {
  width: 300px;
  height: 150px;
  background: #c5cdd6;
  position: relative;
  left: 37%;
  top: -390px;
}
#nosecone {
  width: 300px;
  height: 150px;
  background: #c5cdd6;
  -webkit-border-radius: 150px / 75px;
  -moz-border-radius: 150px / 75px;
  border-radius: 150px / 75px;
  position: relative;
  left: 24%;
  top: -540px;
}
#tailcone {
  width: 300px;
  height: 150px;
  background: #c5cdd6;
  -webkit-border-radius: 150px / 75px;
  -moz-border-radius: 150px / 75px;
  border-radius: 150px / 75px;
  position: relative;
  left: 51%;
  top: -690px;
}
#topWing {
  border-top: 250px solid #c5cdd6;
  border-left: 100px solid transparent;
  height: 0;
  width: 36px;
  left: 42%;
  top: -15%;
  position: absolute;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 5px;
  transform: rotateX(180deg);
}
#bottomWing{
  border-top: 250px solid #c5cdd6;
  border-left: 100px solid transparent;
  height: 0;
  width: 36px;
  left: 42%;
  top: 48%;
  position: absolute;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 5px;
}
#tailWingTop {
  border-top: 150px solid #c5cdd6;
  border-left: 50px solid transparent;
  height: 0;
  width: 26px;
  left: 74%;
  top: 10%;
  position: absolute;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 5px;
  transform: rotateX(180deg);
}
#tailWingBottom {
  border-top: 150px solid #c5cdd6;
  border-left: 50px solid transparent;
  height: 0;
  width: 26px;
  left: 74%;
  top: 38.5%;
  position: absolute;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 5px;
}
#window1 {
  border-right: 19px solid #202134;
  border-top: 8px solid transparent;
  height: 23px;
  width: 0;
  position: absolute;
  left: 22%;
  top: 31%;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 13px;
  border-top-right-radius: 3px;
}

#window2 {
  border-right: 19px solid #202134;
  border-top: 8px solid transparent;
  height: 23px;
  width: 0;
  position: absolute;
  left: 22%;
  top: 38%;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 13px;
  border-top-right-radius: 3px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}
